* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* common style */
.common-btn{
  background-color: #FD6E0A;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.container{
  max-width: 1200px;
  width: 74%;
  margin:  auto;
}
/* common style end */

/* header design */
header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFF8F3;
  /* border: 1px solid red; */
  background-image: url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: right -5px bottom -30px;
  background-size: 650px;
  position: relative;
  
}

.text-img {
  width: 66px;
  position: absolute;
  left: 3%;
  top: 7%;

}

/* nav  */
nav{
 
  padding-top: 10px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
nav ul{
  /* color: black; */
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
}
nav a{
  text-decoration: none;
  /* color: black; */
  color: #474747;

}
nav h2{
  font-weight: 900;
  font-size: 2rem;
}
nav h2 span{
  color: #FD6E0A;
}

/* hero-section design  */

.hero-container{

  display: flex;
  flex: 1;

}

 .hero-left,.hero-right{
  flex: 1;
}
.hero-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hero-subtitle{
  font-size: 2rem;
  color: #474747;
  font-weight: 500;
}
.hero-title{
  font-size: 4rem;
}
.hero-description{
  font-size: 14px;
  color: #757575;
  padding: 20px 0;
}
.outline-btn{
   background-color: white;
  color: #FD6E0A;
  border: 1px solid #FD6E0A;
 
}
.button-group{
  display: flex;
  gap: 15px;
}
.hero-right{
    display: flex;
  align-items: flex-end;
  transform: translateX(160px);
}
.hero-right-img{
  width: 90%;
  display: block;
}
